*.mat filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/06/df/06dfeffe7badb98965739f464f32120a16c4ea560c1b0042d49e9db1444afe4f filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/1c/c0/1cc01008752bf08948b0065171e2ceb688bd7da02af0f2dffbe1cb4b0723863e filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/36/b0/36b0b56c025b805c302761b6c0113097a00a0e96ff83a95727b97e217ab519ff filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/3a/3c/3a3c9f7277f9d043c13a949969471ca5d74be0a775cf914539221f6b2652f5a4 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/6f/51/6f512613a54b76daa8fe50a6acad630cbb19b77001d700c67963a3da5ff36e6e filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/9b/41/9b4135570b0bffb01ecab52f2a8a4a6229e8cb1914dd0954eeedc787ea7329ae filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/c8/50/c850bc81edd09d51a1bcd6eed82b418c8c7efbf38ee457a1c366e73deef7d8ab filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/ee/43/ee4378230218137bfff7e93a0f2c3f0478a9226fddbdee0341fe4e0cd2477834 filter=lfs diff=lfs merge=lfs -text
.git/objects/9a/tmp_obj_hYga2s filter=lfs diff=lfs merge=lfs -text
.git/objects/fe/d90083ea94676a5df727b0077f66360b3ce765 filter=lfs diff=lfs merge=lfs -text
MATLAB/C.InterbrainSynchrony_PearsonCorrelationCoefficient/NeuralData/2023-05-21_12-02-20_LFP.mat filter=lfs diff=lfs merge=lfs -text
MATLAB/E.auROC/Data/other_social/Total_other_auROC.mat filter=lfs diff=lfs merge=lfs -text
MATLAB/E.auROC/Data/self_social/auROC_results_social_neuron_WT_KO.mat filter=lfs diff=lfs merge=lfs -text
MATLAB/E.auROC/Data/self_social/Total_auROC_v1.mat filter=lfs diff=lfs merge=lfs -text
MATLAB/G.Optostimulation/OptoStim_NeuralData/2024-09-23_16-52-45_LFP.mat filter=lfs diff=lfs merge=lfs -text
Python/regress[[:space:]]out[[:space:]]analysis/Sample_Data/2020-09-11_15-06-45_LFP.mat filter=lfs diff=lfs merge=lfs -text
Python/regress[[:space:]]out[[:space:]]analysis/Sample_Data/2020-09-15_15-27-53_LFP.mat filter=lfs diff=lfs merge=lfs -text
Python/regress[[:space:]]out[[:space:]]analysis/Sample_Data/2020-09-22_15-24-08_LFP.mat filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW1.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW10.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW11.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW12.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW13.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW14.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW15.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW16.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW17.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW18.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW19.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW2.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW20.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW21.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW22.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW23.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW24.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW25.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW26.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW27.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW28.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW29.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW3.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW30.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW31.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW32.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW33.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW34.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW35.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW36.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW37.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW38.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW39.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW4.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW40.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW41.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW42.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW43.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW44.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW45.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW46.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW47.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW48.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW49.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW5.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW50.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW51.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW52.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW53.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW54.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW55.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW56.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW57.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW58.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW59.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW6.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW60.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW61.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW62.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW63.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW64.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW7.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW8.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/RAW9.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/TT1.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/TT14.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/TT2.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/TT3.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/TT4.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/TT5.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/TT6.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/TT7.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/TT8.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/TT9.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/VT1.0001.mpg filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/VT1.0002.mpg filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/VT1.0003.mpg filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/VT1.mpg filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Session/VT1.nvt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Optogenetics_Session/TT6.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Optogenetics_Session/TT7.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Optogenetics_Session/VT1.0001.mp4 filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Optogenetics_Session/VT1.mp4 filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Optogenetics_Session/VT1.nvt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW1.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW10.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW11.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW12.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW13.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW14.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW15.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW16.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW17.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW18.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW19.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW2.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW20.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW21.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW22.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW23.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW24.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW25.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW26.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW27.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW28.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW29.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW3.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW30.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW31.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW32.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW33.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW34.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW35.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW36.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW37.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW38.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW39.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW4.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW40.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW41.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW42.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW43.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW44.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW45.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW46.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW47.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW48.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW49.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW5.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW50.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW51.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW52.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW53.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW54.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW55.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW56.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW57.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW58.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW59.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW6.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW60.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW61.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW62.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW63.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW64.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW7.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW8.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/RAW9.ncs filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/TT1.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/TT14.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/TT2.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/TT3.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/TT4.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/TT5.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/TT6.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/TT7.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/TT8.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/TT9.ntt filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/VT1.0001.mpg filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/VT1.0002.mpg filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/VT1.0003.mpg filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/VT1.mpg filter=lfs diff=lfs merge=lfs -text
Sample_RawData/Behavior_Neural_Session/VT1.nvt filter=lfs diff=lfs merge=lfs -text
